// Import page-specific CSS files here.
@import "home";

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.results-wrapper {
  width: 70%;
  margin-top: 40px;
  padding: 20px;
}

#map {
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0;
}

.toggle-map {
  display: none;
}

.mapboxgl-canvas-container {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr ;
  }

  .toggle-map-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }

  .results-wrapper {
    width: 100%;
    padding-bottom: 100px;
    margin-top: 60px;
  }

  #map {
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .toggle-map {
    background-color: white;
    box-shadow: 1px 1px 5px #00000035;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    padding: 8px 16px;
    display: block;
    margin: 0 auto;
    z-index: 99;
  }
  
  .toggle-map:hover {
    background-color: #f4f4f4;
  }
}

@media screen and (max-width: 430px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}