// Import page-specific CSS files here.
@import "home";

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr ;
  }
}

@media screen and (max-width: 430px) {
  .grid-container {
    grid-template-columns: 1fr ;
  }

  .camera-img {
    height: 300px;
  }
}