.camera-header {
  display: flex;
  justify-content: space-between;
}

.camera-avatar {
  text-align: center;
}

.show-page-photo {
  height: 80vh;
  max-height: 400px;
  max-width: 500px;
  width: 100%;
  object-fit: cover;
  margin-top: 20px;
}

.show-page-photo-container {
  text-align: center;
  background-color: $dark-gray;
}

.title-and-adress {
  h1 {
    font-size: 32px;
  }
}