<div class="action-bar-container">
	<%if !user_signed_in?%>
		<h2>hi there</h2>
	<% else%>
	<div class="link-action-bar">
		<%= link_to cameras_path  do %>
			<i class="far fa-compass"></i>
			<p>Explore</p>
		<% end %>
		</div>
		<div class="link-action-bar">
		<%= link_to '#'  do %>
			<i class="far fa-plus-square"></i>
			<p>Add Camera</p>
		<% end %>
	</div>
	<div class="link-action-bar">
		<%= link_to '#'  do %>
			<i class="far fa-user-circle"></i>
			<p>Profile</p>
		<% end %>
	</div>
	<% end %>

</div>