<div class="mobile-navbar-container">
  <div class="left">
  
  </div>
  <div class="center">
    <%= link_to root_path do %>
      <%= image_tag "logo.svg", class: "logo" %>
    <% end %>
  </div>
  <div class="right">
  </div>
</div>