<div class="container">
 <%#  %>
  <ul class="grid-container">
    <% @cameras.each do |camera| %>
      <li>
        <%= link_to camera_path(camera) do %>
          <%= render "shared/camera-card", camera: camera %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>