.booking-card {
  background-color: white;
  box-shadow: 1px 1px 10px #00000005;
  padding-bottom: 10px;

  p {
    margin-left: 10px;
  }

  h5 {
    margin-left: 10px;
  }
}

.booking-card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
