.mobile-navbar-container {
  display: none;
}


@media only screen and (max-width: 768px) {
  .mobile-navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
  }
}