.mobile-navbar-container {
  display: none;
}

.left {
  height: 100%;
  margin-top: 10px;
  width: 40px;
}

.right {
  height: 100%;
  margin-top: 10px;
  width: 40px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .mobile-navbar-container {
    position: fixed;
    border-bottom: 1px solid #00000010;
    top: 0;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
}